# BDAT 1004 PROBLEM SET 2

### Question 1

### Consider the following Python module:
#### a = 0<br><br><br>def b():<br><br>    global a<br><br>    a = c(a)<br><br><br>def c(a):<br><br>    return a + 2
### After importing the module into the interpreter, you execute:
#### >>> b()<br><br>>>> b()<br><br>>>> b()<br><br>>>> a<br><br>?
### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [2]:
a =0                                            # Initialize the variable 'a' with a value of 0

def b():                        
    global a                                    # Use 'global' to specify that we want to modify the variable 'a'
    a = c(a)                                    # Call the function 'c(a)' with the current value of 'a' and assign the returned value back to 'a' 
    
def c(a):                        
    return a + 2                                # Add 2 to the value of 'a' and return the result 

b()                                             # Call the function 'b()' for the first time
b()                                             # Call the function 'b()' for the second time
b()                                             # Call the function 'b()' for the third time 
print("Value of a : ",a)                        # Display the value of the global variable 'a'

Value of a :  6

####  Examining each statement that was executed in order to comprehend the programme:
<ol>
    <li>b(): The function b() receives its initial call. Global an is used within the function to indicate that changing the global variable a rather than generating a new local variable is what we want to do. With the current value of a (which is 0), the function c(a) is called. Within c(a), the value of an is increased by 2, and the new value is then returned. A's updated value is 2, as it is a global variable.</li>
    <li>B(): The b() method receives a second call. Global variable an is once more changed using global an. The function c(a) is called with a set to its current value, which is 2. The value of a (2) is raised by 2 inside of c(a), resulting in 4, which is then returned as the new value. In the global variable a, A is changed to 4.</li>
    <li>B(): This is the third time the b() function has been called. To change the global variable a, use global a. With the current value of a, which is 4, the function c(a) is called. The new value is returned as 6 after the value of a (4) is increased by 2 inside of c(a). Updated to 6, the global variable a.</li>
    <li>After running b() three times, the value of the global variable a‚Äînow 6‚Äîis displayed.</li>
</ol>

#### As a result, the value shown when an is evaluated is 6.<br><br>

### Question 2

### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
#### >>> fileLength('midterm.py')<br>284<br>>>> fileLength('idterm.py')<br>Traceback (most recent call last):<br>File "<pyshell#34>", line 1, in <module"><br>fileLength('idterm.py')<br>File "/Users/me/midterm.py", line 3, in fileLength<br>infile = open(filename)<br>FileNotFoundError: [Errno 2] No such file or directory:<br>'idterm.py'
### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
#### >>> fileLength('midterm.py')<br>358<br>>>> fileLength('idterm.py')<br>File idterm.py not found.

In [11]:
def file_length(file_name):
    try:
        file = open(file_name)                                 # Try to open the file
        contents = file.read()                                 # Read the contents of the file
        file.close()                                           # Close the file
        print(len(contents))                                   # Print the length of the contents
    except FileNotFoundError:
        print("File "+file_name+" not found.")                 # Print a friendly message if the file is not found
    

file_length('midterm.py')                                      # Existing file
file_length('idterm.py')                                       # Non-existing file

634
File idterm.py not found.

### Question 3

### Write a class named Marsupial that can be used as shown below:
#### >>> m = Marsupial()<br><br>>>> m.put_in_pouch('doll')<br><br>>>> m.put_in_pouch('firetruck')<br><br>>>> m.put_in_pouch('kitten')<br><br>>>> m.pouch_contents()<br><br>['doll', 'firetruck', 'kitten']<br>
### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:<br>a. extends the Marsupial "__init__" constructor to take, as input, the coordinates x and y of the Kangaroo object,<br>b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and<br>c. overloads the "__str__" operator so it behaves as shown below.
#### >>> k = Kangaroo(0,0)<br>>>> print(k)<br>I am a Kangaroo located at coordinates (0,0)<br>>>> k.put_in_pouch('doll')<br>>>> k.put_in_pouch('firetruck')<br>>>> k.put_in_pouch('kitten')<br>>>> k.pouch_contents()<br>['doll', 'firetruck', 'kitten']<br>>>> k.jump(1,0)<br>>>> k.jump(1,0)<br>>>> k.jump(1,0)<br>>>> print(k)<br>I am a Kangaroo located at coordinates (3,0)

In [1]:
class Marsupial:
    def __init__(self):
        self.pouch = []                           # Initialize an empty list to store pouch contents
    
    def put_in_pouch(self, item):
        self.pouch.append(item)                   # Add an item to the pouch
    
    def pouch_contents(self):
        return self.pouch                         # Return the contents of the pouch


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [2]:
class Marsupial:
    def __init__(self):
        self.pouch = []                           # Initialize an empty list to store pouch contents
    
    def put_in_pouch(self, item):
        self.pouch.append(item)                   # Add an item to the pouch
    
    def pouch_contents(self):
        return self.pouch                         # Return the contents of the pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()                        # Call the superclass Marsupial's constructor
        self.x = x                                # Initialize the x-coordinate of the Kangaroo
        self.y = y                                # Initialize the y-coordinate of the Kangaroo
    
    def jump(self, dx, dy):
        self.x += dx                              # Move the Kangaroo along the x-axis by dx units
        self.y += dy                              # Move the Kangaroo along the y-axis by dy units
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"




k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Question 4

### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
#### x = 
> ùë•/2    ùëñùëì ùë• ùëñùë† ùëíùë£ùëíùëõ<br>3ùë• + 1   ùëñùëì ùë• ùëñùë† ùëúùëëùëë
### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
#### >>> collatz(1)<br>1<br>>>> collatz(10)<br>10<br>5<br>16<br>8<br>4<br>2<br>1

In [3]:
def collatz(x):
    print(x)                                     # Print the current number in the sequence
    
    # Base case: Stop when the number reaches 1
    if x == 1:
        return
    
    # Recursive case: Calculate the next number in the sequence based on the Collatz rule
    if x % 2 == 0:
        collatz(x // 2)                         # If x is even, divide it by 2
    else:
        collatz(3 * x + 1)                      # If x is odd, multiply it by 3 and add 1



collatz(1)

1

In [4]:
collatz(10)

10
5
16
8
4
2
1

### Question 5
### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
#### >>> binary(0)<br>0<br>>>> binary(1)<br>1<br>>>> binary(3)<br>11<br>>> binary(9)<br>1001

In [36]:
def binary(n):
    if n == 0:
        return 0
    elif n > 0:
        return (n % 2 + 10 * binary(int(n // 2)))
    else:
        print('It is a Negative Number')
binary(0)

0

In [37]:
binary(1)

1

In [39]:
binary(3)

11

In [40]:
binary(9)

1001

### Question 6
### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
#### >>> infile = open('w3c.html')<br>>>> content = infile.read()<br>>>> infile.close()<br>>>> hp = HeadingParser()<br>>>> hp.feed(content)<br>W3C Mission<br>Principles

In [21]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.in_heading = False

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h") and len(tag) == 2 and tag[1].isdigit():
            self.indentation = int(tag[1]) - 1
            self.in_heading = True

    def handle_endtag(self, tag):
        if tag.startswith("h"):
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            indentation_spaces = " " * self.indentation
            print(f"{indentation_spaces}{data.strip()}")



infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

### Question 7
### Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
#### >>><br>webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)<br><br>http://reed.cs.depaul.edu/lperkovic/csc242/test1.html<br> http://reed.cs.depaul.edu/lperkovic/csc242/test2.html<br> http://reed.cs.depaul.edu/lperkovic/csc242/test4.html<br> http://reed.cs.depaul.edu/lperkovic/csc242/test3.html<br>http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [27]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth == 0:
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    print(' ' * indent + url)

    for link in soup.find_all('a'):
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth - 1, indent + 1)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

### Question 8
### Write SQL queries on the below database table that return:<br><br>a) All the temperature data.<br><br>b) All the cities, but without repetition.<br><br>c) All the records for India.<br><br>d) All the Fall records.<br><br>e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.<br><br>f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.<br><br>g) The total annual rainfall for Cairo.<br><br>h) The total rainfall for each season.
|  CITY    | COUNTRY          | SEASON   | TEMPERATURE (C)   | RAINFALL (mm)   |
| :------: | :--------------: | :------: | :---------------: | :-------------: |
| Mumbai   | India            | Winter   |    24.8           |  5.9            |
| Mumbai   | India            | Spring   |    28.4           |  16.2           |
| Mumbai   | India            | Summer   |    27.9           |  1549.4         |
| Mumbai   | India            | Fall     |    27.6           |  346.0          |
| London   | United Kingdom   | Winter   |    4.2            |  207.7          |
| London   | United Kingdom   | Spring   |    8.3            |  169.6          |
| London   | United Kingdom   | Summer   |    15.7           |  157.0          |
| London   | United Kingdom   | Fall     |    10.4           |  218.5          |
| Cairo    | Egypt            | Winter   |    13.6           |  16.5           |
| Cairo    | Egypt            | Spring   |    20.7           |  6.5            |
| Cairo    | Egypt            | Summer   |    27.7           |  0.1            |
| Cairo    | Egypt            | Fall     |    22.2           |  4.5            |

In [9]:
import sqlite3
connnection = sqlite3.connect('sample.db')    #Sample Datababase Connection
cur = connnection.cursor()
cur.execute("CREATE TABLE weather (City text, Country text, Season text,Temperature float,Rainfall float)")
#Create Table for City Weather Data

In [10]:
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO weather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO weather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO weather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

### Running select query to print all table rows

In [11]:
cur.execute('SELECT * FROM weather')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### 8a

In [12]:
cur.execute('SELECT Temperature FROM weather')
content=cur.fetchall()
for cells in content:
    print(cells)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

### 8b

In [13]:
cur.execute('SELECT DISTINCT City FROM weather')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai',)
('London',)
('Cairo',)

### 8c

In [14]:
cur.execute('SELECT * FROM weather WHERE Country="India"')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

### 8d

In [15]:
cur.execute('SELECT * FROM weather WHERE Season="Fall"')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### 8e

In [16]:
cur.execute('SELECT City, Country, Season FROM weather WHERE Rainfall BETWEEN 200 AND 400 ')
content=cur.fetchall()
for cells in content:
    print(cells)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

### 8f

In [17]:
cur.execute('SELECT City, Country FROM weather WHERE Season = "Fall" AND Temperature > 20 ORDER BY Temperature ASC ')
content=cur.fetchall()
for cells in content:
    print(cells)

('Cairo', 'Egypt')
('Mumbai', 'India')

### 8g

In [18]:
cur.execute('SELECT SUM(Rainfall) FROM weather WHERE City = "Cairo"')
content=cur.fetchall()
for cells in content:
    print(cells)

(27.6,)

### 8h

In [19]:
cur.execute('SELECT SUM(Rainfall) FROM weather GROUP BY Season')
content=cur.fetchall()
for cells in content:
    print(cells)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

### Question 9
### Suppose list words is defined as follows:
#### >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
### Write list comprehension expressions that use list words and generate the following lists:
#### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']<br><br>b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']<br><br>c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).<br><br>d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)<br><br>e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [1]:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

In [3]:
uppercase_words = [word.upper() for word in words]
print("a) ",uppercase_words)

a)  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [4]:
lowercase_words = [word.lower() for word in words]
print("b) ",lowercase_words)

b)  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [6]:
word_lengths = [len(word) for word in words]
print("c) ",word_lengths)

c)  [3, 5, 5, 3, 5, 4, 3, 4, 3]

In [7]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("d) ",word_info)

d)  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [8]:
long_words = [word for word in words if len(word) >= 4]
print("e) ",long_words)

e)  ['quick', 'brown', 'jumps', 'over', 'lazy']